body {
  header {
    height: 100px;
    width: 100%;
    background-color: #161618;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ccc;
    .header-content {
      margin: 0 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      img {
        width: 65px;
      }
      svg {
        fill: #fff;
      }
    }
  }
}
